    <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1>Add new post</h1>
                </div>
                <div class="card-body">
    <form class="form-search clearfix" *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group" [class.error-style]="showError && form.controls['title'].errors">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title" >
            <p *ngIf="showError && form.controls['title'].hasError('required')" class="error">
                Title is required.
            </p>
        </div>

        <div class="form-group" [class.error-style]="showError && form.controls['body'].errors">
            <label>Body</label>
            <textarea class="form-control" formControlName="body" cols="40" rows="5"></textarea>
            <p *ngIf="showError && form.controls['body'].hasError('required')" class="error">
                Body is required.
            </p>
        </div>

        <div class="pull-left">
                <p *ngIf="loading">
                    Loading...
                </p>
                <p *ngIf="lastCreatedPost" class="success">
                    Post has been created : {{ lastCreatedPost.id }} - {{ lastCreatedPost.title }}
                </p>
                <p *ngIf="error" class="error">
                    An error occured ({{ error }}).
                </p>    
        </div>
        <div class="pull-right margin-bottom-10">
            <button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
    </div>
    </div>
    </div>
    </div>