<div class="comment">
    <div class="user-info">
        <div class="avatar">
            <img src="http://placehold.it/50x50" alt="">
        </div>
    </div>
    <div class="comment-body">
        <div class="comment-area">
            <a href="#" class="name"><b>John Snow</b></a>&nbsp;
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
        <div class="action-bar">
            <a class="like" href="">Like</a>
            &nbsp;
            <a class="like" href="">Reply</a>
            &nbsp;
            &middot;
            &nbsp;
            <span class="date">Just now</span>
        </div>
    </div>
</div>

<comment-replies></comment-replies>