<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    LDDW Admin Panel
  </h1>
</div>
<nav class="menu">
  Menu
    <ul>
      <li><a [routerLink]="['/']">Dashboard</a></li>
      <li><a [routerLink]="['/users']">Users</a></li>
      <li><a [routerLink]="['/posts']">Posts</a></li>
      <li><a [routerLink]="['/comments']">Comments</a></li>
      <li><a [routerLink]="['/badges']">Badges</a></li>
      <li><a [routerLink]="['/reports']">Reports</a></li>
    </ul>
  </nav>
<router-outlet></router-outlet>
