<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1>Users List</h1>
        <a routerLinkActive="active" routerLink="/users/new"><button class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret dropdown-toggle"><i class="now-ui-icons ui-1_simple-add"></i></button></a>
      </div>
      <div class="card-body">
        <ul>
          <li *ngFor="let user of items">
            {{ user.id }} - {{ user.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>